nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    position: fixed;
    z-index: 999;

    ul {
        display: flex;
        gap: 5rem;

        li {
            text-transform: uppercase;

            a {
                border-bottom: 2.5px solid transparent;
                padding: .5rem;
                transition: 0.5s;

                &:hover {
                    border-bottom: 2.5px solid #007DC6;
                }
            }
        }
    }
}